@model GosserandProject.Models.ViewModels.UserManagement.UserManagementDetailViewModel
@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section styles {
	<link rel="stylesheet" href="@Url.Content("~/css/vendor/codemirror.css")" />

	<main id="app" class="mdl-layout__content">
		<h3>User Details</h3>
		<hr />
		<div class="mdl-grid" style="max-width:100%;min-width:850px;">
			<div class="mdl-cell mdl-cell--12-col">
				<form asp-action="Detail" method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					</div>
					<div class="mdl-grid" style="max-width:100%;padding:15px;">
						<div class="mdl-cell mdl-cell--12-col">
						
							<h3>User.UserID</h3>
						</div>
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="User" />

						<div class="form-group">
							<label asp-for="FirstName" class="control-label"> First Name</label>
							<input asp-for="FirstName" class="form-control" />
							<span asp-validation-for="FirstName" class="text-danger">Please enter a first name</span>
						</div>
						<div class="form-group">
							<label asp-for="LastName" class="control-label">Last Name</label>
							<input asp-for="LastName" class="form-control" />
							<span asp-validation-for="LastName" class="text-danger"></span>
							<div class="form-group">
								<label asp-for="Email" class="control-label">Email</label>
								<input asp-for="Email" class="form-control" />
								<span asp-validation-for="Email" class="text-danger"></span>>
							</div>
							<div class="form-group">
								<label asp-for="PhoneNumber" class="control-label">Phone Number</label>
								<input asp-for="PhoneNumber" class="form-control" />
								<span asp-validation-for="PhoneNumber" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Position" class="control-label">Position</label>
								<input asp-for="Position" class="form-control" />
								<span asp-validation-for="Position" class="text-danger"></span>
							</div>
							<div class="form-group">
								<input type="submit" value="Save" class="btn btn-default" />
								<a class="mdl-button mdl-js-button mdl-color--red mdl-color-text--white"
								   href="/UserManagement">
									Cancel
								</a>
							</div>
				</form>
			</div>
		
		<div>
			<a asp-action="Index">Back to List</a>
		</div>
	</main>
