@model GosserandProject.Models.ViewModels.UserManagement.UserManagementDetailViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<h2>Edit User</h2>
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell-- "

</div>
<div class="mdl-grid mdl-js-layout mdl-color--yellow-100"></div>
	<div class=" mdl-table mdl-js-layout mdl-color--blue-50">
		<thread>
			<td>
				<tr>
					<li>First Name</li>
					<li>First Name</li>
</td>
		</thread>*@


	@*</div>*@