@model GosserandProject.Models.ViewModels.UserManagement.UserManagementDetailViewModel
@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section styles {
	<link rel="stylesheet" href="@Url.Content("~/css/vendor/codemirror.css")" />
}

<main id="app" class="mdl-layout__content">
	<h3>User Details</h3>
	<hr />
	<div class="mdl-grid" style="max-width:100%;min-width:850px;">
		<div class="mdl-cell mdl-cell--12-col">
			<form asp-action="Detail" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="mdl-grid" style="max-width:100%;padding:15px;">
					<div class="mdl-cell mdl-cell--12-col">
						<h3>User.UserID</h3>
					</div>

					<div class="form-group">
						<label asp-for="User.FirstName" class="control-label"> First Name</label>
						<input asp-for="User.FirstName" class="form-control" />
						<span asp-validation-for="User.FirstName" class="text-danger">Please enter a first name</span>
					</div>
					<div class="form-group">
						<label asp-for="User.LastName" class="control-label">Last Name</label>
						<input asp-for="User.LastName" class="form-control" />
						<span asp-validation-for="User.LastName" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="User.Email" class="control-label">Email</label>
						<input asp-for="User.Email" class="form-control" />
						<span asp-validation-for="User.Email" class="text-danger"></span>>
					</div>
					<div class="form-group">
						<label asp-for="User.PhoneNumber" class="control-label">Phone Number</label>
						<input asp-for="User.PhoneNumber" class="form-control" />
						<span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="User.Position" class="control-label">Position</label>
						<input asp-for="User.Position" class="form-control" />
						<span asp-validation-for="User.Position" class="text-danger"></span>
					</div>

					<div class="form-group">
						<input type="submit" value="Save" class="btn btn-default" />

						<a class="mdl-button mdl-js-button mdl-color--red mdl-color-text--white"
						   href="/UserManagement">
							Close
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</main>